body {
  width: 960px;
  margin: auto;
  text-align: center;
}

header {
  background-image: url("assets/salmon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  text-align: center;
  margin: auto;
  padding: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #109648;
    position: fixed;
    top: 0px;
    width: 860px;
}

li {
  float: left;
}

li a {
    display: block;
    color: #F7F0F0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #18A999;
}

li {
    border-right: 1px solid #bbb;
}

body {
  background-color: #F7F0F0;
}

main {
  margin-top: 15px;
}

div {
  float: left;
  margin: auto 10px;
}

h1 {
  font-family: 'Indie Flower', cursive;
  color: #109648;
  padding-top: 0px;
  padding-bottom: 75px;
  margin-top: 5px;
}

table, th, td, tr {
  background-color: #F7F0F0;
  border: 1px solid black;
  border-collapse: collapse;
  font: Verdana;
  color: #6B0504;
}

section {
  margin: auto 10px;
}

table {
  width: 80%;
  margin: auto;
}

tr:hover {background-color: #109648}
td:hover {background-color: #109648}

footer {
  position: fixed;
  bottom: 0;
  width: 960px;
}

h2, h3 {
  background-color: #18A999;
  clear: both;
  width: 300px;
  border-radius: 5px;
}

h2 {
  float: left;
  clear: right;
}

p {
  background-color: #8AF3FF;
  width: 230px;
  margin: auto 35px;
  border-radius: 5px;
}

fieldset {
  width: 80%;
  margin: auto;
}

.text {
  font: Georgia;
  color: #484349;
}

.highlight {
  font-family: 'Permanent Marker', cursive;
  float: right;
  margin: 10px;
  clear: both;
  border: 2px dotted #484349;
  padding: 4px;
}

.contact {
  margin: auto 320px;
  width: 400px;
  text-align:center;
  padding:10px;
}
